/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ruda Regular'), local('Ruda-Regular'), url(https://fonts.gstatic.com/s/ruda/v11/k3kfo8YQJOpFqngdbQ.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  margin-left: 10%;
  margin-right: 10%;
  background-color: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-family: 'Ruda', sans-serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: 6px solid blue;
  background-color: silver;
}
header h1 {
  font-size: 6.5rem;
}
header h2 {
  font-size: 5rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  border-bottom: 3px solid blue;
}
nav a {
  font-size: 3rem;
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: tomato;
}
.body-content {
  display: flex;
  flex-direction: row;
  margin: 5%%;
}
.body-content .left {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.body-content .left h2 {
  font-size: 5em;
  border-bottom: 2px solid tomato;
}
.body-content .left p {
  font-size: 3rem;
}
.body-content .left ul {
  font-size: 2.5rem;
}
.body-content .right {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.body-content .right h2 {
  font-size: 5em;
  border-bottom: 2px solid tomato;
}
.body-content .right p {
  font-size: 3rem;
}
.body-content .right ul {
  font-size: 2.5rem;
}
